/* .search-parameter {
tab-size: 5cm;
  inline-size: 2em;
  border: 2cm;
} */#nested_1, #nested_2 {
  background-color: rgba(96, 112, 175, .2);
  border: 3px dashed #495285;
}
#nested_1 p, #nested_2 p {
  background-color: #f2b632;
}
#nested_3 {
  background-color: rgba(242, 182, 50, .3);
  border: 3px dashed #f2b632;
}
#nested_3 p {
  background-color: #fff;
}