.navbar-menu {
  height: 11vh;
}

.navbar-logo {
  margin-right: 1em;
  margin-left: 1em;
}

.navbar-title {
  margin-top: -3px;
  margin-right: 0.5em;
}

.navbar-item-home,
.navbar-item-dashboard {
  font-size: 18px;
}